@CHARSET "UTF-8";

html {
	background-attachment: fixed;
	min-width: 1396px;
	min-height: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

body, button, input, select, textarea {
	font: 12px/1.5 "Microsoft YaHei", Tahoma, Helvetica, Arial, simsun
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li,
	pre, form, fieldset, legend, button, input, select, textarea, th, td {
	margin: 0;
	padding: 0;
}

/* 头部样式开始 */
a {
	text-decoration: none;
	color: #333333;
	/*-webkit-transition: color .1s;
    -moz-transition: color .1s;
    -o-transition: color .1s;
    -ms-transition: color .1s;
    transition: color .1s*/
}

a:hover {
	color: #09c762;
}

a:focus, area:focus {
	outline: 0
}

ul, ol {
	list-style: outside none none;
}

.header {
	flex: 0 0 auto;
}

.topbar {
	background-color: #f5f5f5;
	border-bottom: 1px solid #e5e5e5;
	height: 34px;
}

.hd_bar {
	height: 34px;
}

.hd_bar ul {
	padding-top: 4px;
	vertical-align: middle;
	text-align: center;
}

.hd_bar ul li {
	float: left;
	height: 17px;
	line-height: 17px;
	padding: 5px 10px;
}

s {
	color: #cccccc;
	margin: 0 10px;
	text-decoration: none;
}

.login_bar {
	float: left;
}

.userinfo_bar {
	float: right;
}

.userinfo_bar a {
	padding-left: 15px;
}

/* 内容容器  */
.content {
	padding: 0;
	margin: 0 0 0 0;
}

.pager_act {
	margin: 20px 20px 0 0;
}

/* 竞拍商品style start */
.topic {
	
}

.topic_hd {
	margin-top: 50px;
}

.topic_tab {
	text-align: center;
}

.topic_current {
	width: 100%;
	height: 40px;
	color: #0099cc;
	max-height: 50px;
	text-align: center;
	font-size: 26px;
	font-weight: 600;
	letter-spacing: 6px;
	white-space: nowrap;
	word-break: normal;
}

.topic_previous {
	width: 130px;
	float: right;
	margin-top: -30px;
}

.topic_previous a {
	font-size: 14px;
	color: #888;
}

.topic_previous a:hover {
	color: #09c762;
	opacity: .8;
	filter: alpha(opacity = 80);
	cursor: pointer;
	text-decoration: underline;
	filter: alpha(opacity = 80);
	cursor: pointer;
}

.select_tab {
	
}

.select_tab>a {
	color: #0099cc !important;
	text-decoration: underline;
	cursor: pointer;
}

.topic_hd .auction_time {
	color: #666666;
	width: 100%;
	max-height: 50px;
	text-align: center;
	font-size: 16px;
	white-space: nowrap;
	word-break: normal;
}

.topic_items {
	margin: 10px 0px 0px 0px;
	width: 100%;
	overflow: hidden;
}

.items {
	display: inline-block;
	float: left;
	height: 320px;
/* 	border: solid 1px #aaeeee; */
	width: 22%;
	margin: 15px 0 0 18px;
}

.items:hover {
/* 	border: solid 1px #ff0000; */
/* 	box-shadow: 0 0 5px #ff0000; */
}

.item_img {
	height: 200px;
	max-height: 200px;
	max-width: inherit;
	cursor: pointer;
/* 	border-bottom: 1px solid #aaeeee; */
	overflow: hidden;
}

.item_img img {
	width: 100%;
	height: 100%;
	transition: all 0.6s;
}

.item_img img:hover {
	transform: scale(1.1); 
}

.item_info {
	font-size: 14px;
	color: #666666;
	margin-left: 5px;
}

.item_title {
	margin: 10px 0 0 0;
	font-size: 14px;
	color: #333333;
	min-height: 50px;
	overflow-wrap: break-word;
	word-break: normal;
	word-wrap: normal;
}

.item_title>a {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 70px;
	color: #ff8c1a;
}

.item_title>a:hover {
	color: #ffb366;
}

.pr_box {
	margin: 0;
}

.pr_box span {
	
}

.lbtitle {
	
}

.pr_box span>prc {
	font-family: "Arial Negreta", "Arial";
	font-size: 14px;
	font-weight: 700;
}

.prc_curr {
	color: #ff0000;
}

.auc_btn {
	text-align: center;
	vertical-align: middle;
	margin: 10px 0 10px 30px;
}

.auc_btn>span {
	background-color: #1e9fff;
	display: block;
	height: 35px;
	width: 120px;
	text-align: center;
	vertical-align: middle;
	line-height: 230%;
	border-radius: 6px;
	cursor: pointer;
}

.auc_btn>span:hover {
	color: #ffffff;
	opacity: .8;
	filter: alpha(opacity = 80);
	text-decoration: none;
}

.auc_btn a {
	color: #eeeeee;
}

.checc_pos {
	/* 	margin: 0px 0px 0px -50px; */
	margin: 0px 0px 0px -10px;
	min-height: 50px;
/* 	border-bottom: solid 1px #aaeeee; */
}

.checc_pos>span {
	display: inline-block;
	margin-left: 10px;
	line-height: 50px;
	font-size: 15px;
	color: #666666;
	line-height: 50px;
}

.checc_pos>.pos_arrows {
	letter-spacing: -3px;
}

.detail_meta_box {
	margin: 0;
	padding: 0;
	height: 380px;
}

.detail_meta {
	margin-top: 20px;;
	height: inherit;
	min-width: 100%;
}

.detail_meta>div {
	
}

.item_detail_imgs {
	position: relative;
	min-height: inherit;
}

.meta_item_img {
	min-height: 300px;
	min-width: 330px;
	height: 300px;
	width: 320px;
	border: solid 1px #eeeeee;
}

.meta_item_img>img {
	width: 100%;
	height: 100%;
}

.meta_item_info {
	position: relative;
	margin: -300px 0px 0px 380px;
	height: 350px;
	min-width: 500px;
	max-width: 660px;
}

.meta_item_title {
	font-size: 18px;
	color: #333333;
	font-weight: 600;
}

.auc_info_t {
	font-size: 16px;
	color: #666666;
	margin-top: 25px;
}

.item_floorprice_box, .meta_currauctper, .meta_curraucttime,
	.meta_auction_eninfo, .meta_item_exchangeprice, .meta_inventory,
	.meta_exchange_eninfo {
	margin-top: 20px;
}
.curraucttile{
	color: #333;
}

.meta_item_currauctprice {
	margin-top: 8px;
}

.meta_item_currauctprice>.currauctprice, .meta_item_exchangeprice>.exchangeprice
	{
	color: #ff0000 !important;
	font-size: 22px;
	font-weight: 600;
}

.meta_item_currauctprice>.compare_marketPrice {
	margin-left: 10px;
	font-size: 14px;
	color: #aaaaaa !important;
	text-decoration: line-through;
}

.meta_currauctper {
	/* 	margin-top: 15px; */
	width: 500px;
}

.currauctprice, .currauctperson, .curraucttime {
	margin-left: 6px;
}

.meta_currauctper>.auctall {
	margin-left: 100px;
	font-size: 12px;
}

.meta_auction_eninfo>p>.eninfo_price {
	color: #ff0000;
	font-weight: 600;
}

.meta_auction_action {
	margin-top: 10px;
	min-width: inherit;
	height: 80px;
}

.meta_auction_action>div {
	display: inline-block;
}

.auc_action, .auc_action_over {
	margin-top: 10px;
	width: 220px;
	height: 55px;
	font-size: 18px;
	font-weight: 500;
	overflow-wrap: normal;
	text-align: center;
	vertical-align: middle;
	line-height: 230%;
	border-radius: 6px;
}

.meta_auction_action>.auc_action {
	float: left;
	background-color: #1e9fff;
	cursor: pointer;
}

.meta_auction_action>.auc_act_btn_p {
	line-height: 20px;
	color: #eeeeee;
}

.meta_auction_action>.auc_action>p>a {
	font-size: 18px;
	color: #ffffff;
}

.meta_auction_action>#auc_action:hover {
	color: #ffffff;
	opacity: .8;
	filter: alpha(opacity = 80);
	text-decoration: none;
}

.auc_currency {
	font-size: 16px;
}

.auc_act_btn {
	margin-top: 10px;
}

.exchange_act_btn {
	margin-top: 15px;
}

.meta_auction_action>.meta_auct_timedown {
	margin: 25px 0px 0px 30px;
	font-size: 16px;
	color: #ff0000;
}

.meta_auction_action>.auc_action_over, .meta_auction_action>.auc_action_over:hover
	{
	background-color: #d9d9d9;
	cursor: not-allowed;
	color: #999999;
}

.auc_exchanged_list {
	margin-top: 15px;
}

.auc_exchanged_list>a {
	color: #333333 !important;
	font-size: 12px;
}

.auc_exchanged_list>a:hover {
	color: #666666 !important;
	font-size: 12px;
}

/* 出价记录列表 */
.auc_list_title {
	/* 	margin: 20px 0 0 270px; */
	margin: 20px 0 0 0;
	font-size: 22px;
	text-align: center;
}

.auc_data_list {
	/* 	min-height: 100px; */
	
}

.list_pager_act {
	/* 	margin: 10px 0 0 270px; */
	margin: 10px 0 0 0;
	text-align: center;
	font-size: 14px;
}

.list_pager_act>div {
	display: inline-block;
}

.is_only_me {
	cursor: pointer;
	width: 80px;
}

.is_only_me a {
	float: left;
	color: #0099cc;
}

.a_disabled {
	pointer-events: none;
	filter: alpha(opacity = 50); /*IE滤镜，透明度50%*/
	-moz-opacity: 0.5; /*Firefox私有，透明度50%*/
	opacity: 0.5; /*其他，透明度50%*/
	cursor: not-allowed;
}

/* 个人中心 */
.user_currency_detail, .deposit_box {
	/* 个人 中心,充值中心 box样式*/
	font-family: "Arial Negreta", "Arial";
	font-style: normal;
	text-align: center;
	margin: 30px 0 0 0;
}

.center_title, .deposit_title {
	/* 个人 中心,充值中心 标题样式*/
	margin: 20px 0 0 0;
	color: #0099cc;
	font-size: 24px;
	font-weight: 700;
	line-height: normal;
}

.center_user_mc {
	font-size: 32px;
	font-weight: 400;
	line-height: 48px;
	margin-top: 40px;
}

.currency_info {
	margin: 20px 0 0 0;
}

.currency_info>div {
	display: inline-block;
	float: left;
	vertical-align: top;
	text-align: center;
	height: 200px;
	width: 33.33%;
	margin: 0 0 0 15%;
}

.currency_info>.total_currency_box, .currency_info>.refund_currency_box,
	.currency_info>.currency_trade_box {
	width: inherit;
	height: inherit;
}

.uc_box_t {
	font-size: 20px;
	color: #666666;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-align: center;
}

.uc_box_t>span {
	display: inline-block;
}

.uc_box_t>.uc_help_i {
	width: 20px;
	height: 20px;
	background-image: url("../images/help.png");
	background-repeat: no-repeat;
	background-size: 18px;
	cursor: pointer;
}

.uc_ta_num>span {
	display: inline-block;
	margin: 10px 0 0 0;
	font-size: 28px;
	text-align: center;
	color: #333333;
}

.uc_ta_num>.num_unit {
	color: #666666;
	font-size: 20px;
}

.act_btn_box {
	margin: 10px 0 0 0;
}

.act_btn_box>div {
	display: inline-block;
}
/* 
.act_btn_box .to_recharge {
	padding: 0 8px 0 0;
	border-right: solid 2px #66a3ff;
} */

.act_btn_box>div>a {
	color: #66a3ff;
	font-size: 16px;
}

.act_btn_box>div>a:hover {
	opacity: .6;
	filter: alpha(opacity = 100);
	text-decoration: none;
}

/* 个人中心竞拍和兑换列表 */
.uc_currc_auct {
	display: block;
	margin: 180px 0 0 0;
	height: 1px;
	border-top: 1px dashed #f5f5f5;
}

.uc_auct_box {
	margin: 180px 0 0 0;
	border-top: 1px dashed #999999;
}

.uc_auct_data, .uc_exchange_data {
	margin: 20px 0 0 0;
}

.uc_exchange_box {
	margin: 20px 0 0 0;
	border-top: 1px dashed #999999;
}

.uc_auct_box_t {
	text-align: center;
}

.uc_auct_t {
	font-size: 18px;
	color: #666666;
}

/* 充值中心样式 */
.deposit_box {
	color: #666666;
	font-size: 18px;
	text-align: center;
}

.deposit_list_box {
	margin: 30px 0 0 0;
}

.deposit_list, .other_amount {
	width: 500px;
	margin: 0px auto;
}

.deposit_list>.dpl_d_box {
	margin: 20px 0 0 0;
	width: 32%;
	/* 	width: 120px; */
	height: 30px;
	display: inline-block;
	vertical-align: top;
	border: solid 1px #1e9fff;
	text-align: center;
	cursor: pointer;
}

.dpl_d_box_checked {
	background-color: #1e9fff;
	color: #ffffff;
}

.dpl_amount {
	
}

.dpl_discount {
	width: 30px;
	font-size: 14px;
	margin: -15px 0 0 125px;
	color: #ff0000;
}

.deposit_list_box>.other_amount {
	padding: 20px 0 0 0;
	text-align: left;
	height: 30px;
}

#otherAmount {
	height: 28px;
	width: 180px;
	border: solid 1px #d9d9d9;
}

.dpex_box {
	height: 20px;
	padding-top: 15px;
}

.dpcheck_info, .dpckipt_info {
	display: none;
	/* 	color: #ff0000; */
	/* 	font-size: 15px; */
}

/* .dpck_info>p {
	color: #0099cc;
	font-size: 15px;
} */
.dpckipt_info>p, .dpck_info>p {
	color: #ff0000;
	font-size: 15px;
}

.pay_type_box {
	margin: 20px 0 0 0;
	padding: 20px 0 0 0;
	border-top: dashed 1px #999999;
}

.pay_model_cbox {
	margin-top: 10px;
}

.pay_model_cbox>div {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.pay_model_cbox>.pay_model_dimg {
	width: 30px;
	height: 30px;
}

.pay_model_dimg img {
	width: 100%;
	height: 100%;
}

.pay_model_cbox>.pay_model_ti {
	font-size: 16px;
}

.deposit_btn_box {
	/* 	text-align: center; */
	
}

.deposit_btn {
	display: inline-block;
	width: 200px;
	margin-top: 10px;
	height: 35px;
	vertical-align: middle;
	font-size: 22px;
	font-weight: 500;
	color: #0099ff;
	border: solid 1px #0099ff;
	border-radius: 6px;
	cursor: pointer;
	background-color: #1e9fff;
	overflow-wrap: normal;
	text-align: center;
	vertical-align: middle;
	line-height: 35px;
	transform-origin: 108px 19px 0;
}

.deposit_btn>a {
	color: #ffffff !important;
}

.deposit_btn:hover {
	color: #ffffff;
	opacity: .8;
	filter: alpha(opacity = 80);
	text-decoration: none;
}

/* 商品详情描述 */
.detail_desc {
	clear: none;
	text-align: center;
	position: relative;
}