<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--typeAliases>
		<typeAlias alias="addressDO" type="com.sina.domain.AddressDO" />
	</typeAliases-->
	<mappers>
		<!-- sqlmap xml path config -->
			<mapper resource="com/checc/mybatis/sqlmap/auctionRecord-mybatis-sqlmap.xml" />
		<mapper resource="com/checc/mybatis/sqlmap/sysRole-mybatis-sqlmap.xml" />
		<mapper resource="com/checc/mybatis/sqlmap/userCurrency-mybatis-sqlmap.xml" />
		<mapper resource="com/checc/mybatis/sqlmap/topic-mybatis-sqlmap.xml" />
		<mapper resource="com/checc/mybatis/sqlmap/sysUserRole-mybatis-sqlmap.xml" />
		<mapper resource="com/checc/mybatis/sqlmap/sysRoleMenu-mybatis-sqlmap.xml" />
		<mapper resource="com/checc/mybatis/sqlmap/checcUser-mybatis-sqlmap.xml" />
		<mapper resource="com/checc/mybatis/sqlmap/depositRecord-mybatis-sqlmap.xml" />
		<mapper resource="com/checc/mybatis/sqlmap/sysMenu-mybatis-sqlmap.xml" />
		<mapper resource="com/checc/mybatis/sqlmap/topicItem-mybatis-sqlmap.xml" />
		<mapper resource="com/checc/mybatis/sqlmap/item-mybatis-sqlmap.xml" />
		<mapper resource="com/checc/mybatis/sqlmap/exchargeRecord-mybatis-sqlmap.xml" />
		<mapper resource="com/checc/mybatis/sqlmap/sysUser-mybatis-sqlmap.xml" />
		<mapper resource="com/checc/mybatis/sqlmap/depositCard-mybatis-sqlmap.xml" />
		<mapper resource="com/checc/mybatis/sqlmap/smsRecord-mybatis-sqlmap.xml" />
	</mappers>
</configuration>