.user-disabled{
	color:gray !important;
	cursor: default !important;
}

.none{
	display:none;
}

.ml10{
	margin-left:10px;
}

.ml20{
	margin-left:20px;
}

.pt30{
	padding-top: 30px;
}

.p30{
	padding: 30px;
}
.mt15{
	margin-top:15p;x
}

input[type='button'],input[type='submit']{
	cursor: pointer;
	transition:all 0.3s;
}

.btn-space a{
	 opacity: 0.9 !important;
}

.btn-space a:hover{
	opacity: 1.0 !important;
	color:#fff !important;	
}


.btnLogin:hover,.btnReg:hover{
	box-shadow:0 0 5px #000;
}


.outDiv{
	width: 100px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.pan-center a:hover{
	opacity: 1.0 !important;
	color:#ed5565 !important;	
}

.loginUl .babytree-login a {
    height: 20px;
    margin: 0 10px 0 0;
    vertical-align: middle;
    width: 20px;
}

/* .loginUl .connect-qq {
    background: url("../img/ico-qq.png") no-repeat scroll center center transparent;
}

.loginUl .connect-sina {
    background: url("../img/ico-sina.png") no-repeat scroll center center transparent;
}

.loginUl .connect-alipay {
    background: url("../img/ico-alipay.png") no-repeat scroll center center transparent;
}

.mj-icon.iconweibo {
    background: rgba(0, 0, 0, 0) url("../img/ico-weibo.png") no-repeat scroll 0 0;
}

.mj-icon.iconqq {
    background: rgba(0, 0, 0, 0) url("../img/ico-qq.png") no-repeat scroll 0 0;
} */
.mj-icon {
    display: inline-block;
    float: left;
    height: 24px;
    margin-top: -2px;
    width: 24px;
}
